// Base styling for the topnav

.sb-topnav {
  padding-left: 0;
  height: $topnav-base-height;
  z-index: $zindex-topnav;
  .navbar-brand {
      width: $sidenav-base-width;
      padding-left: 1rem;
      padding-right: 1rem;
      margin: 0;
  }
  &.navbar-dark {
      #sidebarToggle {
          color: $topnav-dark-toggler-color;
      }
  }
  &.navbar-light {
      #sidebarToggle {
          color: $topnav-light-toggler-color;
      }
  }
}
.drop-admin{
  padding: 0;
}

.btn-link_admin {
  display: block;
  /* margin-bottom: 5px; */
  /* padding: 0; */
  /* padding-top: 0px; */
  /* padding-right: 0px; */
  /* padding-bottom: 0px; */
  /* padding-left: 0px; */
  padding: 0;
  text-align: left;
  color: #fff;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
  text-decoration: none;
}
