<div class="container-fluid d-grid gap-3 container__70_gris">

  <div class="row mt-lg-0 mt-5">
    <div class="col-lg-4 py-3 mt-lg-0 mt-5">
      <div class="card ">
        <div class="card-body p-4 mt-3">
          <div class="row mb-5 d-flex align-items-center">
            <div class="col-lg-4">
              <div class="card card-container-menu image-content-perfil">

                <div class="card-image-small">
                  <img [src]="imageSrc" class="card-img-small" alt="perfil">
                </div>
                <div class="card-image-flag-tiny" *ngIf="cliente[0]"  >
                  <img src="assets/images/flags/tiny/{{ cliente[0].flag_img }}" class="card-img" alt="pais">
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <span class="p-bold-500">{{usuario.name}} {{usuario.lastname}}</span> <br>
              <span class="p-normal-300">{{usuario.username}}</span>
            </div>
          </div>

          <div class="row px-3 mb-2 d-flex flex-column">
            <div class="row mb-3 justify-content-between">
              <div class="col-lg-2">
                <i class="fa-solid fa-calendar-week"></i>
              </div>
              <div class="col-lg-9">
                <a routerLink="./agendadas" class="link-dashboard"> Citas agendadas</a>
              </div>
            </div>
            <div class="row mb-3 justify-content-between">
              <div class="col-lg-2">
                <i class="fa-regular fa-clock"></i>
              </div>
              <div class="col-lg-9">
                <a routerLink="./historico" class="link-dashboard"> Histórico de citas</a>
              </div>
            </div>
            <div class="row mb-3 justify-content-between">
              <div class="col-lg-2">
                <i class="fa-regular fa-user"></i>
              </div>
              <div class="col-lg-9">
                <a routerLink="./perfil" class="link-dashboard"> Actualizar perfil</a>
              </div>
            </div>
            <div class="row mb-3 justify-content-between">
              <div class="col-lg-2">
                <i class="fa-solid fa-user-lock"></i>
              </div>
              <div class="col-lg-9">
                <a routerLink="./cambiar" class="link-dashboard"> Cambiar contraseña</a>
              </div>
            </div>


          </div>

          <div class="row ">
            <div class="col-lg-12">
              <a (click)="logout()" class="btn btn-primary">Salir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>

  </div>



</div>
