<footer class="footer">
  <div class="footer__head">
    <div class="footer__parte1">
      <div class="logo__footer">
        <picture>
          <!-- <source media="(min-width: 900px)" srcset="grande.png">
                            <source media="(min-width: 550px)" srcset="media.png">  -->
          <img src="assets/images/icons/LogoMigrago.png">

        </picture>
      </div>
      <div class="iconos__redes">

        <picture>
          <!-- <source media="(min-width: 900px)" srcset="grande.png">
                            <source media="(min-width: 550px)" srcset="media.png">  -->
          <img src="assets/images/icons/Face.png">
        </picture>
        <picture>
          <!-- <source media="(min-width: 900px)" srcset="grande.png">
                            <source media="(min-width: 550px)" srcset="media.png">  -->
          <img src="assets/images/icons/LinkedIn.png">
        </picture>
        <picture>
          <!-- <source media="(min-width: 900px)" srcset="grande.png">
                            <source media="(min-width: 550px)" srcset="media.png">  -->
          <img src="assets/images/icons/Inst.png">
        </picture>
        <picture>
          <!-- <source media="(min-width: 900px)" srcset="grande.png">
                            <source media="(min-width: 550px)" srcset="media.png">  -->
          <img src="assets/images/icons/Twitter.png">
        </picture>

      </div>
    </div>

    <div class="tamaño_footer_parte" >
      <div class="footer__parte">
        <div class="footer__title">
          <p>Cómo funciona</p>
        </div>
        <div class="footer__subtitle">
          <a routerLink="/historias">Historias</a>
          <a routerLink="/temas">Temas</a>
          <a routerLink="/unete">Unete</a>
          <a routerLink="/home/nosotros">Nosotros</a>
          <a routerLink="/">Blog</a>
        </div>
      </div>
      <div class="footer__parte">
        <div class="footer__title">
          <p>Blog</p>
        </div>
        <div class="footer__subtitle">
          <a >Opcion 1</a>
          <a >Opcion 2</a>
          <a >Opcion 3</a>
          <a >Opcion 4</a>
        </div>
      </div>
    </div>


  </div>
  <!-- <div class="footer__idiomas">
    <a href="">Español</a>
    <a href="">Inglés</a>
  </div> -->
  <div class="linea">
  </div>
  <div class="footer__body">
    <div class="footer__body__terminos">
      <div class="footer__parte1">
        <span>© Copyright 2023. Todos los derechos reservados</span>
      </div>
      <div class="footer__parte">
        <a href="">Políticas de privacidad</a>
      </div>
      <div class="footer__parte">
        <a href="">Términos y condiciones</a>
      </div>


    </div>
  </div>

</footer>
