<nav class="sb-topnav nav_admin navbar  navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/dashboard">Start Bootstrap</a>
  <button class="btn btn-link_admin btn-sm order-1 order-lg-0" id="sidebarToggle" data-cy="topNavToggleSideNav"
    (click)="toggleSideNav()" style="
    width: auto;">
    <i class="fas fa-bars"></i>
  </button>
  <!-- <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <div class="input-group">

      <div class="input-group-append">
      </div>

    </div>

  </form> -->
  <ul class="navbar-nav ml-auto ml-md-0 drop-admin">
    <app-top-nav-user></app-top-nav-user>
  </ul>
</nav>
