<header class="header-container">
  <div class="p-cinta">

    <div class="p-cinta-body">

      <p>
        Regístrate y obtén 20$ OFF en tu primera consulta

      </p>

    </div>


    <div class="p-cinta-close" (click)="eliminarCinta()" style="cursor: pointer;">

      <p><i class="fa-solid fa-xmark"></i></p>


    </div>

  </div>
  <!--nav-->
  <nav class="navh navbar navbar-expand-lg navbar-dark " id="navbar">
    <div class="container_nav " style="
justify-content: center;
align-items: center;    width: 1200px;">


      <div class="d-lg-none " style="width: 100%;">
        <div class="d-flex align-items-center">
          <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span><i class="fas fa-bars"></i></span>
          </button>

          <a class="navbar-brand" routerLink="" style="flex-basis: 100%;display: flex;justify-content: center;">
            <!-- Migrago -->
            <img src="assets/images/icons/LogoMigrago.png" width="130" height="25">
          </a>

          <!-- <a routerLink="../auth/login" class="btn custom-btn btn-ingresa d-lg-none ms-auto me-4"
            *ngIf="!estalogeado">Ingresa</a> -->

          <a class="btn custom-btn d-lg-none btn-registrate" *ngIf="!estalogeado"
            routerLink="/auth/registro">Registrate</a>
          <div class="dropdown d-lg-none ms-auto" *ngIf="estalogeado">
            <div class="perfil-info">
              <a class=" perfil-icon">
                <i class="fas fa-user-circle"></i>
              </a>
              <span class="nombre-usuario dropdown-toggle  me-4" href="#" role="button" id="perfilDropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{usuario.username |
                slice:0:usuario.username.indexOf('@') }}</span>
              <!-- <div class="dropdown-menu" aria-labelledby="perfilDropdown">
              <a class="dropdown-item" href="#">Perfil</a>
              <a class="dropdown-item" href="#">Configuración</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Salir de sesión</a>
            </div> -->
              <div class="dropdown-menu" [ngSwitch]="rolUsuario" aria-labelledby="perfilDropdown">
                <ng-container *ngSwitchCase='"ROLE_CLIENT"'>
                  <a class="dropdown-item" routerLink="/auth/dashboardCliente/agendadas">Agendadas</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardCliente/historico">Históricas</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardCliente/perfil">Actualizar Perfil</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardCliente/cambiar">Cambiar Contraseña</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">Salir de sesión</a>
                </ng-container>
                <ng-container *ngSwitchCase='"ROLE_GUIDE"'>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/dashboard">Panel</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/historias">Mis Historias</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/agenda">Agenda</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/agendadas">Citas Agendadas</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/perfil">Actualizar Perfil</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/cambiar">Cambiar Contraseña</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">Salir de sesión</a>
                </ng-container>


              </div>
            </div>


          </div>
        </div>





      </div>
      <div class="d-flex justify-content-between">
        <div class="d-lg-block d-none">

          <a class="navbar-brand" routerLink="" style="flex-basis: 20%;  display: flex;
        justify-content: flex-start;">
            <!-- Migrago -->
            <img src="assets/images/icons/LogoMigrago.png" width="130" height="25">
          </a>

          <a routerLink="../auth/login" class="btn custom-btn btn-ingresa d-lg-none ms-auto me-4"
            *ngIf="!estalogeado">Ingresa</a>
          <div class="dropdown d-lg-none ms-auto" *ngIf="estalogeado">
            <div class="perfil-info">
              <a class=" perfil-icon">
                <i class="fas fa-user-circle"></i>
              </a>
              <span class="nombre-usuario dropdown-toggle  me-4" href="#" role="button" id="perfilDropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{usuario.username |
                slice:0:usuario.username.indexOf('@') }}</span>
              <!-- <div class="dropdown-menu" aria-labelledby="perfilDropdown">
              <a class="dropdown-item" href="#">Perfil</a>
              <a class="dropdown-item" href="#">Configuración</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Salir de sesión</a>
            </div> -->
              <div class="dropdown-menu" [ngSwitch]="rolUsuario" aria-labelledby="perfilDropdown">
                <ng-container *ngSwitchCase='"ROLE_CLIENT"'>
                  <a class="dropdown-item" routerLink="/auth/dashboardCliente/agendadas">Agendadas</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardCliente/historico">Históricas</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardCliente/perfil">Actualizar Perfil</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardCliente/cambiar">Cambiar Contraseña</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">Salir de sesión</a>
                </ng-container>
                <ng-container *ngSwitchCase='"ROLE_GUIDE"'>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/dashboard">Panel</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/historias">Mis Historias</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/agenda">Agenda</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/agendadas">Citas Agendadas</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/perfil">Actualizar Perfil</a>
                  <a class="dropdown-item" routerLink="/auth/dashboardGuia/cambiar">Cambiar Contraseña</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">Salir de sesión</a>
                </ng-container>


              </div>
            </div>


          </div>


          <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span><i class="fas fa-bars"></i></span>
          </button>

        </div>

        <div class="d-flex">
          <div class="collapse navbar-collapse menu_up" id="navbarCollapse" style="width:100%;justify-content: center;">

            <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                <a class="nav-head" routerLink="/historias">Historias</a>
              </li>
              <li class="nav-item">
                <a class="nav-head" routerLink="/temas">Temas</a>
              </li>
              <li class="nav-item active">
                <a class="nav-head" routerLink="/unete" style="white-space: nowrap;">Conviertete en Guia</a>
              </li>
              <li class="nav-item">
                <a class="nav-head" routerLink="/blog">Blog</a>
              </li>
              <li class="nav-item" *ngIf="!estalogeado">
                <a class="nav-head" routerLink="../auth/login" style="white-space: nowrap;">Iniciar sesion</a>
              </li>
            </ul>


          </div>
          <div class="botonesnav" style="align-items: center;justify-content: center;flex-basis: 50%;">
            <!-- <select id="language" class="d-lg-block d-none idioma" style="color: #fff;">
              <option value="English">ES</option>
              <option value="Spanish">EN</option>

            </select> -->


            <!-- <a routerLink="../auth/login" id="ingresa" *ngIf="!estalogeado"
              class="btn-ingresa btn custom-btn d-lg-block d-none  me-2">Ingresa</a> -->

            <!-- <a class="btn custom-btn d-lg-block d-none btn-registrate" *ngIf="!estalogeado"
              (click)="openModal(modalContent)">Registrate</a> -->

            <a class="btn custom-btn d-lg-block d-none btn-registrate" *ngIf="!estalogeado"
              routerLink="/auth/registro">Únete</a>
            <div *ngIf="estalogeado" class="dropdown">
              <div class="perfil-info">
                <a class=" perfil-icon">
                  <i class="fas fa-user-circle" style="font-size: 30px;"></i>
                </a>
                <span class="nombre-usuario dropdown-toggle" href="#" role="button" id="perfilDropdown"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{usuario.username |
                  slice:0:usuario.username.indexOf('@') }}</span>
                <div class="dropdown-menu" [ngSwitch]="rolUsuario" aria-labelledby="perfilDropdown">
                  <ng-container *ngSwitchCase='"ROLE_CLIENT"'>
                    <a class="dropdown-item" routerLink="/auth/dashboardCliente/agendadas">Agendadas</a>
                    <a class="dropdown-item" routerLink="/auth/dashboardCliente/historico">Históricas</a>
                    <a class="dropdown-item" routerLink="/auth/dashboardCliente/perfil">Actualizar Perfil</a>
                    <a class="dropdown-item" routerLink="/auth/dashboardCliente/cambiar">Cambiar Contraseña</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Salir de sesión</a>
                  </ng-container>
                  <ng-container *ngSwitchCase='"ROLE_GUIDE"'>
                    <a class="dropdown-item" routerLink="/auth/dashboardGuia/dashboard">Panel</a>
                    <a class="dropdown-item" routerLink="/auth/dashboardGuia/historias">Mis Historias</a>
                    <a class="dropdown-item" routerLink="/auth/dashboardGuia/agenda">Agenda</a>
                    <a class="dropdown-item" routerLink="/auth/dashboardGuia/agendadas">Citas Agendadas</a>
                    <a class="dropdown-item" routerLink="/auth/dashboardGuia/perfil">Actualizar Perfil</a>
                    <a class="dropdown-item" routerLink="/auth/dashboardGuia/cambiar">Cambiar Contraseña</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Salir de sesión</a>
                  </ng-container>


                </div>
                <!-- <div class="dropdown-menu" *ngIf="rolUsuario=='ROLE_CLIENT'" aria-labelledby="perfilDropdown">
                  <a class="dropdown-item" href="#">Agendadas</a>
                  <a class="dropdown-item" href="#">Históricas</a>
                  <a class="dropdown-item" href="#">Actualizar Perfil</a>
                  <a class="dropdown-item" href="#">Cambiar Contraseña</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Salir de sesión</a>
                </div>
                <div class="dropdown-menu" *ngIf="rolUsuario=='ROLE_GUIDE'" aria-labelledby="perfilDropdown">
                  <a class="dropdown-item" href="#">Panel</a>
                  <a class="dropdown-item" href="#">Mis Historias</a>
                  <a class="dropdown-item" href="#">Agenda</a>
                  <a class="dropdown-item" href="#">Citas Agendadas</a>
                  <a class="dropdown-item" href="#">Actualizar Perfil</a>
                  <a class="dropdown-item" href="#">Cambiar Contraseña</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Salir de sesión</a>
                </div> -->
              </div>


            </div>

            <!-- <div  class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" id="perfilDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="perfilDropdown">
                <a class="dropdown-item" href="#">Perfil</a>
                <a class="dropdown-item" href="#">Configuración</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Salir de sesión</a>
              </div>
            </div> -->





          </div>
        </div>

      </div>
    </div>
  </nav>
  <!--end nav-->


</header>



<!-- seccion 1 -->
<section>
  <div class="apartado__index">
    <div class="container__70" data-aos="zoom-in-right" data-aos-duration="1500">
      <div class="apartado__index__body">
        <div class="letra__a letra__blanca">

          <!-- <p class="p_texto">
            Migra seguro con un Guía confiable
          </p>
          <p class="p_texto">historias</p> -->

        </div>
        <div class="letra__b__bold letra__blanca">
          <p class="p_texto">
            Migra seguro
          </p>
          <p class="p_texto">
            con un <span class="p-1" style="background-color: #f98900;border-radius: 15px;">Guía confiable</span>
          </p>

        </div>
        <div class="mt-5">


          <span class="letra__morada__radius p-3" >Obtén información valiosa con historias reales.</span>

        </div>
      </div>
      <div class="container__buscador">
        <div class="apartado__index__buscador">
          <!-- <div class="col-md-8 bg-white px-4 py-5 padding-0 d-flex flex-column align-items-center mx-auto">
            <div class="row col-lg-10 mx-auto">
              <div class="mb-4">
                <div class="form-group"> -->
          <!-- <input type="text" class="buscador" placeholder="Busca el país al que estas migrando"> -->


          <!-- </div>
              </div>
            </div>

          </div> -->

          <!-- <input type="text" class="form-control" placeholder="Busca el país al que estas migrando">
          <span class="fa fa-solid fa-circle-arrow-right arrow-icon "></span> -->
          <ng-select name="countrySelect" (ngModelChange)="onCountrySelect($event)" [(ngModel)]="selectedCountryId"
            placeholder="Elige un país a migrar" aria-label="Default select example">

            <ng-option *ngFor="let country of countries" [value]="country.id">{{country.country_name}}</ng-option>
          </ng-select>
          <span class="fa fa-solid fa-circle-arrow-right arrow-icon "
            (click)="redirectToListado(selectedCountryId)"></span>
        </div>
      </div>

    </div>

  </div>
</section>
<section>
    <div class="container_verificador_main  p-cinta" style="justify-content: center">
        <p class="letra__white__bold">Servicio garantizado o te devolvemos tu dinero. <span style="color: #5a2395;">Conoce </span></p> <a href="" class="letra__white__bold"> nuestras políticas</a>
    </div>
</section>
<section class="container__azul">
  <div class="container__azul__content" data-aos="zoom-in">
    <div class="container__azul__head">
      <p class="container__rutas__head__title">¿Cómo funciona MigraGo?</p>
      <p class="container__rutas__head__subtitle">Identifícate con una historia, reserva una videollamada un guía y
        obtén la información que necesitas para migrar sin contratiempos.</p>
    </div>
    <div class="container__azul__body">
      <div class="container__azul__body__item">
        <div class="container__azul__body__item__imagen">
          <picture>

            <img src="assets/images/icons/geo.png">
          </picture>
        </div>
        <div class="container__azul__body__item__title d-none d-lg-block">
          1.-
        </div>
        <div class="container__azul__body__item__text d-none d-lg-block">
          Busca el país y ciudad a donde migrarás.
        </div>
        <div class="d-lg-none d-block">
          <span class="container__azul__body__item__title">1.-</span>
          <span class="container__azul__body__item__text">Busca el país y ciudad a donde migrarás.</span>
        </div>

      </div>
      <div class="container__azul__body__item">
        <div class="container__azul__body__item__imagen">
          <picture>

            <img src="assets/images/icons/cora.png">
          </picture>
        </div>
        <div class="container__azul__body__item__title d-none d-lg-block">
          2.-
        </div>
        <div class="container__azul__body__item__text d-none d-lg-block">
          Elige una historia como la tuya.
        </div>
        <div class="d-lg-none d-block">
          <span class="container__azul__body__item__title">2.-</span>
          <span class="container__azul__body__item__text ">Elige una historia como la tuya.</span>
        </div>
      </div>
      <div class="container__azul__body__item">
        <div class="container__azul__body__item__imagen">
          <picture>

            <img src="assets/images/icons/calen.png">
          </picture>
        </div>
        <div class="container__azul__body__item__title d-none d-lg-block">
          3.-
        </div>
        <div class="container__azul__body__item__text d-none d-lg-block">
          Resérvala con un guía de confianza.
        </div>
        <div class="d-lg-none d-block">
          <span class="container__azul__body__item__title">3.-</span>
          <span class="container__azul__body__item__text"> Resérvala con un guía de confianza.</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="apartado__combinado">
    <!-- seccion inferior -->
    <div class="container__60">
      <div class="container__rutas" data-aos="fade-up" data-aos-duration="3000">
        <div class="container__rutas__head">
          <div class="container__rutas__head__title">
            Rutas de migración
          </div>
          <div class="container__rutas__head__subtitle">
            Distintas maneras de llegar a vivir a otro país.
          </div>
        </div>
        <div class="container__rutas__body">
          <div class="container__rutas__body__etiquetas">

            <div class="container__rutas__body__etiqueta" *ngFor="let rutamigracion of rutasmigracion">

              {{rutamigracion.name_way_migration}}


            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section>
  <div class="container_verificador_main">
    <div class="container__verificados" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="800"
      data-aos-offset="0">

      <div class="container__historias__body__head">
        <div class="container__rutas__head__title">
          <p class="container__rutas__head__title"> Temas que </p>
          <p class="container__rutas__head__title"> debes conocer bien.</p>
        </div>

        <div class="container__rutas__head__subtitle">
          Obtén información personalizada y precisa en cada tema que necesites para una migración segura y exitosa.
        </div>
      </div>
      <div class="container__temas__body">
        <div class="container__temas__body__i" *ngFor="let tema of Temas">
          <div class="container__temas__body__item">
            <div class="container__temas__body__item__img">
              <picture>

                <img src="assets/images/icons/Escudo-mobile.png">
              </picture>
            </div>
            <div class="container__temas__body__item__text">
              <p>{{ formatDescriptionThemes(tema.details.data) }}</p>
            </div>


          </div>
          <div class="linea__temas"></div>
        </div>


      </div>
      <div class="container__historias__reales__link temas__button ">
        <a routerLink="/temas" routerLinkActive="router-link-active" class="btn_ver_temas">Ver más</a>
      </div>

    </div>
  </div>

</section>
<!-- <div class="marquee p-cinta" style="display: flex; align-items: center; justify-content: center;">
  <p [style.padding-right]="last ? '0em':'5em'" *ngFor="let rutamigracion of rutasmigracion ; let last = last">
     {{rutamigracion.name_way_migration}}</p>
</div> -->
<!-- <span [style.margin-right]="last ? '0' : '70px'">{{ formatDescriptionThemes(tema.details.data) }}</span>
    <span *ngIf="!last"><i class="fas fa-xs fa-circle"></i></span> -->
<!-- <div class="marquee p-cinta" style="display: flex; align-items: center; justify-content: center;">
  <p [style.padding-right]="last ? '0em':'5em'" *ngFor="let tema of Temas; let last = last">

    <span *ngIf="!last"><i class="fas fa-xs fa-circle me-2"></i></span><span [style.margin-right]="last ? '0' : '70px'">{{ formatDescriptionThemes(tema.details.data) }}</span>


</div> -->
<!-- seccion historias como la tuya -->

<section>
  <div class="container__70">
    <div class="container__historias">
      <div class="container__historias__body" data-aos="fade-right" data-aos-duration="3000">
        <div class="container__historias__body__head">
          <div style="line-height: 1;">
            <div class="container__historias__body__title letra__b">
              El impacto global de la migración

            </div>
           
          </div>
          <div class="container__historias__body__subtitle">
            Conoce los números y asegúrate de tomar decisiones informadas.
          </div>
        </div>
        <div class="container__historias__body__body">
          <div class="container__historias__body__body__item">
            <div class="container__historias__body__body__item__imagen">
              <picture>
          
                <img src="assets/images/icons/pareja.png">
              </picture>
            </div>
            <div class="container__historias__body__body__item__body">
              <div class="container__historias__body__body__item__title">
                281 Millones
              </div>
              <div class="container__historias__body__body__item__text">
                ... de migrastes internacionales en todo el mundo, lo que representa 3,6% de la problación mundial. En 1,990 la cigra fue de 153 millones, 78% más que en los últimos 30 años              </div>
            </div>

          </div>
          <div class="container__historias__body__body__item">
            <div class="container__historias__body__body__item__imagen">
              <picture>
             
                <img src="assets/images/icons/mochila.png">
              </picture>
            </div>
            <div class="container__historias__body__body__item__body">
              <div class="container__historias__body__body__item__title">
                61% problación
              </div>
              <div class="container__historias__body__body__item__text">
                ... de migrastes internacionales son acogidos por Europa y Asia. América de Norte con casi 59 millones de migrastes equivalentes al 21%. África, con el 9%, América Latina y el Caribe, con el 5%, y Oceanía, con el 3%.
              </div>
            </div>

          </div>
          <div class="container__historias__body__body__item">
            <div class="container__historias__body__body__item__imagen">
              <picture>
                <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                  <source media="(min-width: 550px)" srcset="media.png"> -->
                <img src="assets/images/icons/pet.png">
              </picture>
            </div>
            <div class="container__historias__body__body__item__body">
              <div class="container__historias__body__body__item__title">
                $ 20.000 USD
              </div>
              <div class="container__historias__body__body__item__text">
                ... es la cifra que podría llegar a perder una persona emigrante por tomar servicios o seguir consejos que encuentran en redes sociales por parte de agencias o influencers falsos no verificados en latinoamerica.
              </div>
            </div>

          </div>
          <div class="container__historias__body__body__item">
            <div class="container__historias__body__body__item__imagen">
              <picture>
             
                <img src="assets/images/icons/pet.png">
              </picture>
            </div>
            <div class="container__historias__body__body__item__body">
              <div class="container__historias__body__body__item__title">
               43 Millones
              </div>
              <div class="container__historias__body__body__item__text">
               ... de Latinoamericanos viven fuera de sus países de nacimiento, según estimaciones de las Naciones Unidad, representando el 15% de la población mundial de migrantes
              </div>
            </div>

          </div>
        </div>

      </div>
    
    </div>
  </div>
</section>
<!-- seccion fondo naranja -->
<section>
  <div class="container__naranja">
    <div class="container__70">
      <div class="container__historias__reales" data-aos="zoom-in">
        <div class="container__historias__reales__head">
          <div class="container__historias__reales__head__title">
            Historias reales
          </div>
          <div class="container__historias__reales__head__title">
            dde migrantes.
          </div>
          <div class="container__historias__reales__head__subtitle">
            Dispuestos a responder todas tus dudas.
          </div>
        </div>
        <div class="container__historias__reales__body">
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="btn_navigation">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>

              <!-- <div class="card-wrapper swiper-wrapper cards ">

              </div> -->
              <div class="card-wrapper swiper-wrapper cards ">


                <div class="card swiper-slide " *ngFor="let historia of resp_historias">
                  <app-tarjeta [historia]="historia"></app-tarjeta>
                </div>

              </div>

            </div>

          </div>
        </div>
        <div class="container__historias__reales__link">
          <a routerLink="/historias" routerLinkActive="router-link-active" class="btn_ver_mas">Ver más historias</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- seccion reseñas de migrantes -->
<section>
  <div class="container__resenias">
    <div class="" data-aos="fade-right" data-aos-duration="3000">
    
      <div class="container__resenias__body__back">
        <!-- <div class="container__resenia__imagen">

          <img src="assets/images/imagen_resenia.png" alt="" class="">

        </div> -->
        <div class="slide-container swiper">
          <div class="slide-content3">

            <div class="card-wrapper swiper-wrapper card-resenia-main">
            
                <div class="swiper-slide">
                <div class="card-resenia">
                  <div class="container__resenia__body">
                    <div class="container__verificados__texto">
                      <div class="container__historias__body__head">
              
                        <p class="container__rutas__head__title">Testimonios</p>
                        <!-- <p class="container__rutas__head__title"> de éxito.</p> -->
              
                        <div class="container__rutas__head__subtitle">
                          de emigrantes que ahorraron mucho dinero y tiempo gracias a guías verificados
                        </div>
              
                      </div>
              
                    </div>
                    <div class="card-content">
    
                      <p class="description-resenia">“LoremC ipsum dolor sit amet, con-sectetuer adipiscing elit, sed diam
                        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat”</p>
                      <span class="autor">Miguel P.</span>
                      <span class="etiqueta">Verificado</span>
    
    
                    </div>
                  </div>
               
                  <div class="container__resenia__imagen">
  
                    <div class="">
                      <img src="assets/images/imagen_resenia.png" alt="" class="">
                    </div>
  
                  </div>
                </div>
              
              </div>
              <div class="swiper-slide">
                <div class="card-resenia">
                  <div class="container__resenia__body">
                    <div class="container__verificados__texto">
                      <div class="container__historias__body__head">
              
                        <p class="container__rutas__head__title">Testimonios</p>
                        <!-- <p class="container__rutas__head__title"> de éxito.</p> -->
              
                        <div class="container__rutas__head__subtitle">
                          de emigrantes que ahorraron mucho dinero y tiempo gracias a guías verificados
                        </div>
              
                      </div>
              
                    </div>
                    <div class="card-content">
    
                      <p class="description-resenia">“LoremC ipsum dolor sit amet, con-sectetuer adipiscing elit, sed diam
                        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat”</p>
                      <span class="autor">Miguel P.</span>
                      <span class="etiqueta">Verificado</span>
    
    
                    </div>
                  </div>
               
                  <div class="container__resenia__imagen">
  
                    <div class="">
                      <img src="assets/images/imagen_resenia.png" alt="" class="">
                    </div>
  
                  </div>
                </div>
              
              </div>
              <div class="swiper-slide">
                <div class="card-resenia">
                  <div class="container__resenia__body">
                    <div class="container__verificados__texto">
                      <div class="container__historias__body__head">
              
                        <p class="container__rutas__head__title">Testimonios</p>
                        <!-- <p class="container__rutas__head__title"> de éxito.</p> -->
              
                        <div class="container__rutas__head__subtitle">
                          de emigrantes que ahorraron mucho dinero y tiempo gracias a guías verificados
                        </div>
              
                      </div>
              
                    </div>
                    <div class="card-content">
    
                      <p class="description-resenia">“LoremC ipsum dolor sit amet, con-sectetuer adipiscing elit, sed diam
                        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat”</p>
                      <span class="autor">Miguel P.</span>
                      <span class="etiqueta">Verificado</span>
    
    
                    </div>
                  </div>
               
                  <div class="container__resenia__imagen">
  
                    <div class="">
                      <img src="assets/images/imagen_resenia.png" alt="" class="">
                    </div>
  
                  </div>
                </div>
              
              </div>
            </div>



            <div class="container__pagination__navigation">
              <div class="swiper-pagination"></div>
              <div class="btn_navigation">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>


          </div>

        </div>

      </div>
    </div>

  </div>

</section>
<!-- seccion migrantes verificados -->
<section>
  <div class="container_verificador_main">
    <div class="container__verificados">
      <div class="">
        <div class="container__verificados__texto_main" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
          data-aos-delay="800" data-aos-offset="0">
          <div class="container__historias__body__head">
            <!-- <div class="container__rutas__head__title"> -->
            <p class="container__rutas__head__title">Migrantes</p>
            <p class="container__rutas__head__title">verificados</p>
            <!-- <span class="letra__b">Migrantes</span> -->
            <!-- </div> -->
            <!-- <div class="container__rutas__head__title"> -->
            <!-- <span class="letra__b">verificados</span> -->
            <!-- </div> -->
            <div class="container__verificados__head__subtitle">
              con información valiosa y personalizada
            </div>

          </div>
          <div class="container__verificados__body">
            <div class="container__verificados__body__item">
              <div class="container__azul__body__item__imagen">
                <picture>
                  <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                      <source media="(min-width: 550px)" srcset="media.png"> -->
                  <img src="assets/images/icons/chat150.png">
                </picture>
              </div>
              <div class="container__azul__body__item__title">
                Variedad de historias
              </div>
              <div class="container__azul__body__item__text">
                Podrían ser como la tuya con información precisa, real y conﬁable
              </div>
            </div>
            <div class="container__verificados__body__item">
              <div class="container__azul__body__item__imagen">
                <picture>
                  <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                      <source media="(min-width: 550px)" srcset="media.png"> -->
                  <img src="assets/images/icons/Very150.png">
                </picture>
              </div>
              <div class="container__azul__body__item__title">
                Migrantes veriﬁcados
              </div>
              <div class="container__azul__body__item__text">
                Podrían ser como la tuya con información precisa, real y conﬁable
              </div>
            </div>
            <div class="container__verificados__body__item">
              <div class="container__azul__body__item__imagen">
                <picture>
                  <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                      <source media="(min-width: 550px)" srcset="media.png"> -->
                  <img src="assets/images/icons/Visa150.png">
                </picture>
              </div>
              <div class="container__azul__body__item__title">
                Tu pago está protegido
              </div>
              <div class="container__azul__body__item__text">
                Podrían ser como la tuya con información precisa, real y conﬁable
              </div>
            </div>
            <div class="container__verificados__body__item">
              <div class="container__azul__body__item__imagen">
                <picture>
                  <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                      <source media="(min-width: 550px)" srcset="media.png"> -->
                  <img src="assets/images/icons/Fono150.png">
                </picture>
              </div>
              <div class="container__azul__body__item__title">
                Soporte en línea
              </div>
              <div class="container__azul__body__item__text">
                Podrían ser como la tuya con información precisa, real y conﬁable
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="container__verificados__imagen">
        <picture>

          <img src="assets/images/1200x1500-min.jpeg">
        </picture>
      </div> -->


    </div>
  </div>

</section>
<!-- seccion antes de migrar -->
<section>
  <div class="container__migrar">
    <div class="container__70">
      <div class="container__historias__reales" data-aos="zoom-in" data-aos-duration="2000">
        <div class="container__historias__reales__head">
          <div class="container__historias__reales__head__title">
            <span class="letra__b">Antes de migrar</span>
          </div>
          <div class="container__historias__reales__head__subtitle">
            debes saber esto.
          </div>

        </div>
        <div class="container__historias__reales__body">

          <div class="slide-container swiper">
            <div class="slide-content2">
              <div class="btn_navigation">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>

              <div class="card-wrapper swiper-wrapper cards">
                <div class="card swiper-slide" *ngFor="let blog of blogs" [routerLink]="['../blog/detalle']"
                  [queryParams]="{ blog_id: blog.id }" style="cursor: pointer;">
                  <div class="image-content">
                    <!-- <span class="overlay"></span> -->
                    <div class="card-image">
                      <img [routerLink]="['../blog/detalle']" [queryParams]="{ blog_id: blog.id }"
                        [src]="blog.urlImagen || 'assets/images/imagen_prueba.png'" class="card-img" alt="fondo">
                    </div>

                  </div>
                  <div class="card-content-main">
                    <p class="description">{{blog.title}}</p>
                    <span class="texto" [innerHTML]="blog.text_breve_blog"></span>
                    <div class="container__etiquetas">
                      <div class="container__body__etiqueta" *ngFor="let detalle of blog.detalle">
                        {{detalle.descripcion}}
                      </div>
                      <!-- <div class="container__body__etiqueta">
                        Testimonio
                      </div> -->
                    </div>
                    <div class="card-content-footer">
                      <div class="card-image3">
                        <img src="assets/images/perfiles/profile1.jpg" alt="" class="card-img">
                      </div>
                      <div class="card-content-footer-autor">
                        <span class="autor">{{blog.name}} {{blog.lastname}}</span>
                        <span class="etiqueta">{{blog.created_at}}</span>
                      </div>

                    </div>

                  </div>

                </div>

              </div>
              <!-- <div class="swiper-button-prev"></div>
                          <div class="swiper-button-next"></div> -->
            </div>


          </div>

          <!-- <div class="swiper-button-next swiper-navBtn "></div>

                  <div class="swiper-button-prev swiper-navBtn "></div> -->
        </div>
        <div class="container__historias__reales__link">
          <a routerLink="/blog" class="btn_ver_informacion">Ver más información</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- seccion quiero unirme -->
<section>

  <div class="container__unirme__main">
    <div class="container__70">
      <div class="container_content_unrime">
        <div class="container__unirme" data-aos="zoom-in-right"  data-aos-duration="3000">
          <div class="container__unirme__head">
            <div class="container__unirme__head__title letra__b">
              <span class="">Unete a Nuestra Comunidad de Guías</span>
            </div>
            <div class="container__unirme__head__subtitle">
              Comparte tu experiencia migratoria y gana dinero desde la comodidad de tu hogar. Sé parte de la comunidad
              más grande de inmigrantes en países desarrollados y ayuda a otros a migrar de forma segura y exitosa, tal
              como lo hiciste tú.
            </div>
          </div>
          <div class="container__unirme__body">
            <a routerLink="./registroGuia" class="btn_unirme">Quiero unirme</a>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>
<!-- botoncito para los videos -->
<!-- <picture>
                  <source media="(min-width: 900px)" srcset="grande.png">
                  <source media="(min-width: 550px)" srcset="media.png">
                  <img src="assets/images/icons/Play-mobile.png">
              </picture> -->
<!-- boton de wasap -->
<a href="" target="_blank" class="btn-whatsapp">
  <img src="assets/images/whatsapp.png" width="120" height="120">
</a>


<!-- Modal para el registro por web -->
<!-- <div class="modal fade" id="modalRegister" tabindex="-1" aria-labelledby="modalRegister" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body modal-login">

        <app-modal></app-modal>
      </div>

    </div>
  </div>
</div> -->

<ng-template #modalContent let-modal>


  <div class="modal-contenido">

    <div class="modal-body modal-login">
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" style="
         background: none;
        float: right;
        border: 0;
        margin: 0.2rem">
        <!-- <span aria-hidden="true">&times;</span> -->
        <i class="fa-solid fa-xmark"></i>
      </button>
      <app-modal (closeModal)="cerrarModal()"></app-modal>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Cerrar')">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Guardar')">Guardar</button>
      </div>  -->

  </div>


</ng-template>


<!-- <ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modalRegister">Título de la Modal</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cerrar')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Guardar')">Guardar</button>
  </div>
</ng-template> -->


<!-- fin Home-->
