<div class="row mt-4 ms-4">
  <p class="p-bold-500-20"> Completa <br><span class="p-300">tu perfil</span></p>
  <p class="p-texto"><strong>Completa tus datos personales.</strong></p>
  <p class="p-texto">Muchos de tus datos no serán publicados.</p>
</div>
<div class="row mt-4 row mt-4  pl-0 pe-lg-5 pe-0">

  <div id="multi-step-form-container">
    <!-- Form Steps / Progress Bar -->
    <ul class="form-stepper form-stepper-horizontal text-center  ">
      <!-- Step 1 -->
      <li class="form-stepper-active text-center form-stepper-list" step="1">
        <a class="mx-2">
          <span class="form-stepper-circle">
            <span>1</span>
          </span>
          <div class="label">Datos personales</div>
        </a>
      </li>
      <!-- Step 2 -->
      <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
        <a class="mx-2">
          <span class="form-stepper-circle text-muted">
            <span>2</span>
          </span>
          <div class="label text-muted">Nacionalidad</div>
        </a>
      </li>
      <!-- Step 3 -->
      <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
        <a class="mx-2">
          <span class="form-stepper-circle text-muted">
            <span>3</span>
          </span>
          <div class="label text-muted">Foto perfil</div>
        </a>
      </li>
    </ul>


    <!-- Step Wise Form Content -->
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="ActualizarPerfil()" id="userAccountSetupForm"
      name="userAccountSetupForm" enctype="multipart/form-data" method="POST">
      <!-- Step 1 Content -->
      <section id="step-1" class="form-step">
        <!-- <h2 class="font-normal">Datos personales</h2> -->
        <!-- Step 1 input fields -->
        <div class="mt-2">
          <div class="row">
            <div class="form-group col-lg-12 mb-3">

              <p>Nombres:</p>
              <input type="text" name="" formControlName="nombre" class="form-control form-control-sm" readonly
                value="Miguel Angel" placeholder="" >

            </div>
            <div class="form-group col-lg-12 mb-3">

              <p>Apellidos:</p>
              <input type="text" name="" formControlName="apellidos" class="form-control form-control-sm" readonly
                value="Panta Chapoñan" placeholder="">

            </div>
            <div class="form-group col-lg-12 mb-3" *ngIf="usuario.username">

              <p>Correo electrónico:</p>
              <input type="text" name="" formControlName="correo" class="form-control form-control-sm" readonly
                value="mpanta@migrago.com" placeholder="">

            </div>
            <div class="form-group col-lg-12 mb-3">

              <p>Fecha de nacimiento:</p>
              <input type="date" name="" formControlName="fechanac" class="form-control form-control-sm" value="" readonly
                placeholder="">

            </div>
            <div class="form-group col-lg-12 mb-3">

              <p>Número de WhatsApp:</p>

              <input type="number" name="" formControlName="numero" class="form-control form-control-sm" value=""
                placeholder="">
            </div>
            <div class="form-group col-lg-12 mb-3">

              <p>Género:</p>
              <select class="form-select form-select-sm form-select-normal" aria-label="Default select example"
                formControlName="genero" >
                <option selected value="0" disabled>Selecciona el genero</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>

              </select>
            </div>
            <!-- <div class="form-group col-lg-12 mb-3">

                                   <p>¿Llegastes con familia?</p>

                               </div>
                               <div class="d-flex justify-content-start mb-3">
                                   <div class="form-check form-perfil">
                                       <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                       <label class="form-check-label" for="flexRadioDefault1">
                                           Si
                                       </label>
                                   </div>
                                   <div class="form-check form-perfil">
                                       <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                       <label class="form-check-label" for="flexRadioDefault2">
                                           No
                                       </label>
                                   </div>
                               </div> -->

            <!-- <div class="form-group col-lg-12 mb-3">

                                   <p>¿Cuántos integrantes son?*:</p>
                                   <select class="form-select form-select-sm form-select-normal" aria-label="Default select example">
                                       <option selected>Seleccione</option>
                                       <option value="1">1</option>
                                       <option value="2">2</option>

                                   </select>
                               </div> -->
          </div>

        </div>
        <div class="mt-3 col-md-5 offset-md-7">
          <button class="btn btn-primary btn-navigate-form-step" type="button" step_number="2">Siguiente</button>
        </div>



      </section>
      <!-- Step 2 Content, default hidden on page load. -->
      <section id="step-2" class="form-step d-none">
        <!-- <h2 class="font-normal">Social Profiles</h2> -->
        <!-- Step 2 input fields -->
        <div class="mt-3">
          <div class="row">
            <div class="form-group col-lg-12 mb-3">
              <p>Nacionalidad:</p>

              <select formControlName="nacionalidad" (change)="onNationalitySelect($event)"
                class="form-select form-select-sm form-select-normal" [(ngModel)]="selectedNationalityId"
                aria-label="Default select example">
                <option value="0" selected disabled>Nacionalidad del guía</option>
                <option *ngFor="let nacionalidad of nationalities" [value]="nacionalidad.id">{{
                  nacionalidad.nationality_name }}</option>
              </select>

            </div>
            <div class="form-group col-lg-12 mb-3">
              <p>Pais de residencia actual:</p>
              <select id="countrySelect" formControlName="countrySelect" name="countrySelect"
                (change)="onCountrySelect($event)" [(ngModel)]="selectedCountryId" class="form-select form-select-sm"
                aria-label="Default select example"  >
                <option value="0" selected disabled>País a migrar</option>
                <option *ngFor="let country of countries" [value]="country.id">{{ country.country_name }}
                </option>
              </select>

            </div>
            <div class="form-group col-lg-12 mb-3">
              <p>Ciudad de residencia actual:</p>
              <select name="citySelect" formControlName="citySelect" (change)="onCitySelect($event)"
                class="form-select form-select-sm" [(ngModel)]="selectedCityId" aria-label="Default select example">
                <option value="0" selected disabled>Selecciona una ciudad</option>
                <option *ngFor="let city of cities" [value]="city.id">{{ city.city_name }}</option>
              </select>

            </div>

            <!-- <div class="form-group col-lg-12 mb-3">
                                   <p>Fecha de llegada al país de residencia actual</p>
                                   <input type="date" name="" formControlName="fecha" (change)="onFecha($event)"
                                   class="form-control form-control-sm" value="" placeholder="">
                               </div>
                               <div class="form-group col-lg-12 mb-3">
                                   <p>Ruta de ingreso al país</p>
                                   <select formControlName="RutaMigracion" (change)="onRutaMigrationSelect($event)"
                                   class="form-select form-select-sm" [(ngModel)]="selectedRutaMigrationId" aria-label="Default select example">
                                   <option value="0" selected>Ruta Migracion</option>
                                   <option *ngFor="let ruta of rutasmigracion" [value]="ruta.id">{{
                                     ruta.name_way_migration }}</option>
                                 </select>

                               </div> -->
            <!-- ?????????????????????????? -->
            <div class="form-group col-lg-12 mb-3">
              <p>Indique quién es el aplicante principal*</p>
              <select formControlName="aplicante" class="form-select form-select-sm form-select-normal"
                aria-label="Default select example" >
                <option selected value="0" disabled>Seleccione</option>
                <option value="1">Esposo</option>
                <option value="2">Esposa</option>
                <option value="3">Padre</option>
                <option value="4">Madre</option>
                <option value="5">Yo mismo</option>


              </select>

            </div>
            <div class="form-group col-lg-12 mb-3">
              <p>¿Creas contenido (videos) en redes sociales?*</p>
              <select formControlName="contenido" class="form-select form-select-sm form-select-normal"
                aria-label="Default select example" >
                <option selected value="" disabled>Seleccione</option>
                <option value="0">No</option>
                <option value="1">Si</option>

              </select>

            </div>
          </div>
        </div>
        <div class="mt-3 d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary btn-navigate-form-step" type="button" step_number="1">Anterior</button>
          <button class="btn btn-primary btn-navigate-form-step" type="button" step_number="3">Siguiente</button>
        </div>
      </section>
      <!-- Step 3 Content, default hidden on page load. -->
      <section id="step-3" class="form-step d-none">
        <!-- <h2 class="font-normal">Personal Details</h2> -->
        <!-- Step 3 input fields -->
        <div class="mt-3">
          <div class="row">
            <div class="form-group col-lg-12 mb-3">

              <p>Llegó con mascotas</p>
              <select formControlName="llegadamascota" class="form-select form-select-sm form-select-normal">
                <option selected value="" disabled>Seleccione</option>

                <option value="0">No</option>
                <option value="1">Si</option>

              </select>
            </div>
          </div>
          <div class="row d-flex align-items-end">

            <div class="form-group col-lg-12 mb-3">
              <div *ngIf="imageSrc!='';then muestra else nomuestra"></div>
              <ng-template #muestra><img [src]="imageSrc" id="preview"
                  style="max-width: 200px;height: 12rem; width: 100%;"></ng-template>
              <ng-template #nomuestra><img src="assets/images/perfiles/perfil.png" id="preview"
                  class="img-thumbnail"></ng-template>
              <!-- <img src="assets/images/perfiles/perfil.png" id="preview" class="img-thumbnail"> -->

            </div>
            <div class="col-lg-12 mb-3">
              <span class="p-normal-300">Foto de perfil</span>
            </div>
            <div class="form-group mb-3">
              <input type="file" (change)="onFileSelected($event)" name="file" class="file" accept=".jpg, .png, .gif">
              <div class="input-group my-3">
                <!-- <input type="text" class="form-control" disabled placeholder="Cargar imagen" id="file"> -->
                <div class="input-group-append">
                  <button type="button" style="
                                               background-color: #00c1ff;" class="browse btn btn-primary">Selecciona
                    una imagen</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-12 mb-3">

              <p>¿Te encuentras actualmente trabajando?*</p>

            </div>
            <div class="d-flex justify-content-start mb-3">
              <div class="form-check form-perfil">
                <input class="form-check-input" type="radio" name="guidework" id="guideWorkSi" [value]="1"
                  formControlName="guidework" [checked]="guiaTrabajando === 1 ? true : false">
                <label class="form-check-label" for="flexRadioDefault1">
                  Si
                </label>
              </div>
              <div class="form-check form-perfil">
                <input class="form-check-input" type="radio" name="guidework" id="guideWorkNo" [value]="0"
                  formControlName="guidework" [checked]="guiaTrabajando === 0 ? true : false">
                <label class="form-check-label" for="flexRadioDefault2">
                  No
                </label>
              </div>
            </div>

            <div class="form-group col-lg-12 mb-3">
              <p>¿A qué rubro laboral perteneces?*</p>
              <select formControlName="rubro" (change)="onRubroSelect($event)"
                class="form-select form-select-sm form-select-normal" [(ngModel)]="selectedRubroId"
                aria-label="Default select example" class="form-select form-select-sm form-select-normal"
                aria-label="Default select example">
                <option value="0" selected disabled>Selecciona Rubro</option>
                <option *ngFor="let rubro of rubros" [value]="rubro.id">{{
                  rubro.rubro_description }}</option>


              </select>


            </div>
            <!-- <div class="form-group col-lg-12 ">

                                    <p>Agrega tu tarjeta de crédito o débito*</p>

                                  </div>

                                    <div class="relative">
                                      <input class="tarjeta_input"  id="credit-card-input" type="text" maxlength=19 placeholder="0000 0000 0000 0000">

                                    </div> -->
          </div>
        </div>
        <div class="mt-3 d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary btn-navigate-form-step" type="button" step_number="2">Anterior</button>
          <button class="btn btn-primary submit-btn" type="submit" [disabled]="formularioEnviado">{{ textoBoton }}</button>
        </div>
      </section>
    </form>
  </div>

</div>
