<section>
  <div class="container-fluid d-grid gap-3 container__70_blanco container_10em unete_main">

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <p class="p-texto p-bold-500-20">
            Únete a nuestra

          </p>
          <p class="p-texto p-bold-500-20">
            comunidad de migrantes

          </p>
          <p class="p-texto p-bold-500-20">y genera ingresos con tu experiencia</p>
        </div>
        <div class="row d-flex justify-content-between mt-5">
          <div class="col-lg-6">
            <div class="row">
              <p class="p-normal-300-12">
                Migrar a otro país implica tener mucha información precisa y
                confiable que otras personas necesitarán cuando lleguen a su
                nuevo destino. Tú puedes ayudarlos y eso tiene un valor
              </p>
              <p class="p-bold-300-10-black">MUCHOS NECESITAN ESA INFORMACIÓN</p>
              <p class="p-normal-300-12">
                Podrás ayudar a muchas personas desde la comodidad de tu casa.
                Cuenta tu historia de migración con personas que están a pocos
                meses de llegar a su nuevo país.
              </p>
            </div>
            <div class="row">
              <div class="mt-3 mb-3 col-lg-6">
                <a routerLink="../home/registroGuia" class="btn btn-primary p-normal-300-12">Quiero unirme</a>
              </div>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="text-center">
              <img src="assets/images/imagen_prueba.png" alt="" class="img-fluid img_flotante">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section>
  <div class="container-fluid container__70_gris container_10em container_altura_55">

    <div class="row">
      <div class="col-sm-12">
        <div class="row mb-3">
          <p class="p-texto p-bold-500-20">¿Por qué </p>
          <p class="p-texto p-bold-500-20">elegir migrago?</p>
        </div>
        <div class="row mb-3">
          <p class="p-texto p-normal-300-12">Existe buenas razones para crearte</p>
          <p class="p-texto p-normal-300-12">una cuenta y contar tu historia. Entre ellas</p>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-between mt-5">
      <div class="col-lg-6 mb-3">
        <div class="row">
          <div class="col-lg-2 text-center">
            <picture>
              <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                      <source media="(min-width: 550px)" srcset="media.png"> -->
              <img src="assets/images/icons/Mascota-mobile.png" class="img-fluid" style="width:50px">
            </picture>
          </div>
          <div class="col-lg-10">
            <p class="p-texto p-normal-20-naranja">Es gratuito</p>
            <p class="p-texto  p-normal-14-gris">No necesitas membresías
              de registro, ni cargos
              adicionales.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="row">
          <div class="col-lg-2 text-center">
            <picture>
              <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                      <source media="(min-width: 550px)" srcset="media.png"> -->
              <img src="assets/images/icons/Mascota-mobile.png" class="img-fluid" style="width:50px">
            </picture>
          </div>
          <div class="col-lg-10">
            <p class="p-texto p-normal-20-naranja">Es part time</p>
            <p class="p-texto  p-normal-14-gris">Como un “trabajo” part time
              pero mejor. Tú pones tu
              horario..</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="row">
          <div class="col-lg-2 text-center">
            <picture>
              <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                      <source media="(min-width: 550px)" srcset="media.png"> -->
              <img src="assets/images/icons/Mascota-mobile.png" class="img-fluid" style="width:50px">
            </picture>
          </div>
          <div class="col-lg-10">
            <p class="p-texto p-normal-20-naranja">Confían en ti</p>
            <p class="p-texto  p-normal-14-gris">Personas de todo el
              mundo, interesadas en
              migrar, ansiosas de
              escucharte y confían
              en nosotros. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="row">
          <div class="col-lg-2 text-center">
            <picture>
              <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                      <source media="(min-width: 550px)" srcset="media.png"> -->
              <img src="assets/images/icons/Mascota-mobile.png" class="img-fluid" style="width:50px">
            </picture>
          </div>
          <div class="col-lg-10">
            <p class="p-texto p-normal-20-naranja">Ganas dinero</p>
            <p class="p-texto  p-normal-14-gris">Genera ingresos contando
              tu experiencia de migración
              y recibe un buen pago
              por ello.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container__azul container__verde ">
  <div class="container__azul__head">
    <p>Rutas de migración</p>
    <p class="p-normal-14-gris">Cada ruta tiene una historia</p>
  </div>
  <div class="container__azul__body">
    <div class="container__azul__body__item container_item_flotante_verde">
      <div class="container__azul__body__item__imagen">
        <picture>
          <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                  <source media="(min-width: 550px)" srcset="media.png"> -->
          <img src="assets/images/icons/Geo-mobile.png" class="img-fluid">
        </picture>
      </div>
      <div class="container__azul__body__item__title">
        Refugio

      </div>
      <div class="container__azul__body__item__text">
        Si debes huir de tu país
      </div>
    </div>
    <div class="container__azul__body__item container_item_flotante_verde">
      <div class="container__azul__body__item__imagen">
        <picture>
          <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                  <source media="(min-width: 550px)" srcset="media.png"> -->
          <img src="assets/images/icons/Corazon-mobile.png" class="img-fluid">
        </picture>
      </div>
      <div class="container__azul__body__item__title">
        Estudios
      </div>
      <div class="container__azul__body__item__text">
        Pregrado y posgrado
      </div>
    </div>
    <div class="container__azul__body__item container_item_flotante_verde">
      <div class="container__azul__body__item__imagen">
        <picture>
          <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                  <source media="(min-width: 550px)" srcset="media.png"> -->
          <img src="assets/images/icons/Calendario-mobile.png" class="img-fluid">
        </picture>
      </div>
      <div class="container__azul__body__item__title">
        Invitación
      </div>
      <div class="container__azul__body__item__text">
        De algún familiar o amigo residente

      </div>
    </div>
    <div class="container__azul__body__item container_item_flotante_verde">
      <div class="container__azul__body__item__imagen">
        <picture>
          <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                  <source media="(min-width: 550px)" srcset="media.png"> -->
          <img src="assets/images/icons/Calendario-mobile.png" class="img-fluid">
        </picture>
      </div>
      <div class="container__azul__body__item__title">
        Trabajo
      </div>
      <div class="container__azul__body__item__text">
        Si fueron contratados
        por una empresa

      </div>
    </div>
    <div class="container__azul__body__item container_item_flotante_verde">
      <div class="container__azul__body__item__imagen">
        <picture>
          <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                  <source media="(min-width: 550px)" srcset="media.png"> -->
          <img src="assets/images/icons/Calendario-mobile.png" class="img-fluid">
        </picture>
      </div>
      <div class="container__azul__body__item__title">
        Turismo
      </div>
      <div class="container__azul__body__item__text">
        Fueron por poco tiempo
        y se quedaron

      </div>
    </div>
    <div class="container__azul__body__item container_item_flotante_verde">
      <div class="container__azul__body__item__imagen">
        <picture>
          <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                  <source media="(min-width: 550px)" srcset="media.png"> -->
          <img src="assets/images/icons/Calendario-mobile.png" class="img-fluid">
        </picture>
      </div>
      <div class="container__azul__body__item__title">
        Residencia
      </div>
      <div class="container__azul__body__item__text">
        La obtuvieron desde
        su país de origen

      </div>
    </div>
  </div>

</div>
<section>
  <div class="container-fluid  container__70_azul container_10em container_altura_65">
    <div class="row cabecera-padding-10">
      <div class="col-lg-4 text-start mb-5">
        <span class="container__historias__body__title letra__b__bold">Preguntas frecuentes</span>
        <p class="p-bold-500">de migrantes reales
          dispuestos a responder.</p>
      </div>
      <div class="col-lg-12 mb-5">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item acordtion-blue">
            <h2 class="accordion-header">
              <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <strong>¿Cuánto dura una sesión con un residente?</strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                This is the first item's accordion body.It is shown by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These classes control the overall appearance, as
                well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                overriding our default variables. It's also worth noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item acordtion-blue">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>¿Let iusto odio dignissim qui blandit praesent?</strong>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                This is the second item's accordion body. It is hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These classes control the overall appearance, as
                well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                overriding our default variables. It's also worth noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item acordtion-blue">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong>¿Rerat volutpat. Ut wisi enim ad minim veniam?</strong>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                This is the third item's accordion body. It is hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These classes control the overall appearance, as
                well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                overriding our default variables. It's also worth noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item acordtion-blue">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapeFour" aria-expanded="false" aria-controls="collapeFour">
                <strong> ¿Vel illum dolore eu feugiat nulla facilisis at?</strong>
              </button>
            </h2>
            <div id="collapeFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                This is the third item's accordion body. It is hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These classes control the overall appearance, as
                well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                overriding our default variables. It's also worth noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item acordtion-blue">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapeFive" aria-expanded="false" aria-controls="collapeFour">
                <strong> ¿Vel illum dolore eu feugiat nulla facilisis at?</strong>
              </button>
            </h2>
            <div id="collapeFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                This is the third item's accordion body. It is hidden by default, until the collapse plugin adds the
                appropriate classes that we use to style each element. These classes control the overall appearance, as
                well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                overriding our default variables. It's also worth noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>

  <div class="container__resenias">
    <div class="container__verificados__texto">
      <div class="container__verificados__head">
        <div class="container__verificados__head__title">
          <span class="letra__b">Reseñas de migrantes</span>
        </div>
        <div class="container__verificados__head__subtitle">
          que ahora viven en un nuevo país
        </div>

      </div>

    </div>
    <div class="container__resenias__body container_resenia_flotante">

        <!-- Contenido de Swiper aquí -->
        <div class="slide-container swiper">
          <div class="slide-content3">

            <div class="card-wrapper swiper-wrapper card-resenia-main">
              <div class="swiper-slide card-resenia">

                <div class="card-content">

                  <p class="description-resenia">“LoremC ipsum dolor sit amet, con-sectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat”</p>
                  <span class="autor">Miguel Panta.</span>
                  <span class="etiqueta">Verificado</span>


                </div>
                <div class="image-content">

                  <div class="card-image">
                    <img src="assets/images/imagen_resenia.png" alt="" class="card-img">
                  </div>

                </div>
              </div>
              <div class="swiper-slide card-resenia">

                <div class="card-content">

                  <p class="description-resenia">“LoremA ipsum dolor sit amet, con-sectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat”</p>
                  <span class="autor">Miguel Panta.</span>
                  <span class="etiqueta">Verificado</span>


                </div>
                <div class="image-content">

                  <div class="card-image">
                    <img src="assets/images/imagen_resenia.png" alt="" class="card-img">
                  </div>

                </div>
              </div>
              <div class="swiper-slide card-resenia">

                <div class="card-content">

                  <p class="description-resenia">“LoremB ipsum dolor sit amet, con-sectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat”</p>
                  <span class="autor">Miguel Panta.</span>
                  <span class="etiqueta">Verificado</span>


                </div>
                <div class="image-content">

                  <div class="card-image">
                    <img src="assets/images/imagen_resenia.png" alt="" class="card-img">
                  </div>

                </div>
              </div>

            </div>
            <div class="container__pagination__navigation">
              <div class="swiper-pagination"></div>
              <div class="btn_navigation">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>


          </div>

        </div>


    </div>
  </div>



</section>


