<!-- <section>
  <div class="container__blog container-fluid ">
    <div class=" row col-12 ms-0">

      <div class="col-lg-8 px-lg-5 col-md-6 col-12">
        <div class="padding__body__blog">
          <div class="container__blog__head">
            <div class="container__blog__head__title">
              <span class="letra__b">Cada minuto migran 50 persona sen el mundo a un nuevo destino</span>
            </div>

          </div>
          <div class="container__blog__body">

            <p class="description-resenia">“LoremC ipsum dolor sit amet, con-sectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat”</p>
            <div class="col-lg-6 text-center ms-lg-4 ms-0">
              <a routerLink="/historias" class="btn  mt-2">Ver Más <i class="fa-solid fa-arrow-right"></i></a>
            </div>

          </div>

        </div>


      </div>
      <div class="container__blog__imagen col-lg-4 col-md-6  col-12 px-md-0 px-4">
        <picture>

          <img src="assets/images/1200x1500-min.jpeg">
        </picture>
      </div>


    </div>
  </div>

</section>

<section>
  <div class="container-fluid d-grid gap-3  container_blog_descubre">
    <div class="px-lg-5">
      <div class="row col-12">

        <div class="col-sm-8">
          <p class="p-bold-500-20 text-center">Encuentra historias como la tuya</p>
        </div>
        <div class="col-sm-4">
          <a routerLink="/historias" class="btn btn-primary p-bold-500-18">Descubre Historias</a>
        </div>

      </div>
    </div>


  </div>
</section>

<section>
  <div class="container__blog__nuestro container-fluid ">
    <div class="row col-12 ms-0">

      <div class="col-lg-12 px-lg-5">
        <div class="padding__body__blog">
          <div class="container__blog__head">
            <div class="container__blog__head__title mb-1 ">
              <span class="letra__b__bold">Más de nuestro blog</span>
            </div>
            <div class="container__verificados__head__subtitle">Últimos posts
            </div>
          </div>


          <div>

            <div class="d-flex align-content-center flex-wrap container__historias__reales__body">



              <div class="card card-container mb-3" *ngFor="let historia of resp_historias">
                <div class="image-content">

                  <div class="card-image" style="cursor: pointer;">

                    <img [routerLink]="['../detalle']" [queryParams]="{ historia_id: historia.id }"
                      [src]="historia.urlImagenStory || 'assets/images/imagen_prueba.png'" class="card-img" alt="fondo">
                  </div>
                  <div class="card-image2" style="cursor: pointer;">

                    <img [routerLink]="['../detalle']" [queryParams]="{ historia_id: historia.id }"
                      [src]="historia.urlImagen || 'assets/images/perfiles/profile1.jpg'" class="card-img" alt="perfil">

                  </div>
                  <div class="card-image_flag">
                    <img [src]="'assets/images/flags/tiny/'+ historia.flag_img" class="card-img" alt="pais">
                  </div>
                </div>

                <div class="card-content">

                  <a class="description" style="cursor: pointer;" [routerLink]="['../detalle']"
                    [queryParams]="{ historia_id: historia.id }">{{historia.title}}</a>

                  <span class="autor mb-1">{{historia.name.split(' ')[0]}} {{historia.lastname.substring(0, 1)}}.</span>

                  <span class="etiqueta mb-1">{{historia.city_name}}, {{historia.country_name}}</span>
                  <div class="container_etiquetas mb-1">
                    <div class="container__body__etiqueta">
                      {{historia.name_way_migration}}
                    </div>


                  </div>
                  <div class="footer-content">

                    <a [routerLink]="['../detalle']" [queryParams]="{ historia_id: historia.id }"
                      class="btn btn-light mt-2">Ver Más <i class="fa-solid fa-arrow-right"></i></a>

                  </div>

                </div>

              </div>

            </div>



            <div class="d-flex justify-content-center">
              <ngb-pagination [(page)]="nropagina" [pageSize]="tamanopagina" [collectionSize]="totalelementos"
                [maxSize]="1" [boundaryLinks]="true" (pageChange)="onPageChange(nropagina)">
              </ngb-pagination>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

</section>


<section>
  <div class="container-fluid d-grid gap-3  container_blog_descubre">
    <div class="px-lg-5">
      <div class="row col-12">

        <div class="col-sm-8">
          <p class="p-bold-500-20 text-center">Encuentra historias como la tuya</p>
        </div>
        <div class="col-sm-4">
          <a routerLink="/historias" class="btn btn-primary p-bold-500-18">Descubre Historias</a>
        </div>

      </div>
    </div>


  </div>
</section> -->
<router-outlet></router-outlet>
