<div class="container-fluid d-grid gap-3 container__70_gris">
  <div class="row">
    <div class="col-lg-12">
      <div class="card ">
        <div class="card-body text-center">
          <h5 class="card-title letra__b__bold">Banner/Tutorial</h5>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title letra__b__bold mt-3">Filtrar por</h5>
          <div class="linea_black"></div>
          <form action="">
            <div class="row mb-3">
              <div class="col-lg-12 mb-3">
                <select id="countrySelect" name="countrySelect" (change)="onCountrySelect($event)"
                  class="form-select form-select-sm" aria-label="Default select example">
                  <option value="0">País a migrar</option>
                  <option *ngFor="let country of countries" [value]="country.id">{{ country.country_name }}</option>
                </select>
              </div>
              <div class="col-lg-12 mb-3">
                <select (change)="onCitySelect($event)" class="form-select form-select-sm"
                  aria-label="Default select example">
                  <option value="0">Selecciona una ciudad</option>
                  <option *ngFor="let city of cities" [value]="city.id">{{ city.city_name }}</option>
                </select>

              </div>
              <div class="col-lg-12 mb-3">
                <select (change)="onNationalitySelect($event)" class="form-select form-select-sm"
                  aria-label="Default select example">
                  <option value="0" selected>Nacionalidad del guía</option>
                  <option *ngFor="let nacionalidad of nationalities" [value]="nacionalidad.id">{{
                    nacionalidad.nationality_name }}</option>
                </select>
              </div>
              <div class="col-lg-12 mb-3">
                <select (change)="onWayMigrationSelect($event)" class="form-select form-select-sm"
                  aria-label="Default select example">
                  <option value="0" selected>Ruta de ingreso del guía</option>
                  <option *ngFor="let rutamigracion of rutasmigracion" [value]="rutamigracion.id">{{
                    rutamigracion.name_way_migration }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mb-3">
                <a class="btn btn-primary" (click)="filtrarHistorias()">Filtrar</a>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row mt-2">
        <div class="col-lg-6">
          <label for="" class="form-label letra__b__bold">¿De qué temas necesitas informarte?</label>
          <!-- <select multiple name="language" id="languages">
            <option value="js">Salud / Entretenimiento / Mascotas</option>
            <option value="html">Educacion niños / Campamentos / Daycares</option>
            <option value="css3">Educación adultos / Idiomas /Ayuda social</option>
            <option value="css4">Hogar / Mobiliario / Vestimenta</option>
          </select> -->

          <ng-select [items]="temas" bindLabel="description" bindValue="id" [multiple]="true" groupBy="selectedAllGroup"
            [searchWhileComposing]="true" [selectableGroup]="true" placeholder="Elige los temas mas urgentes para ti"
            (change)="onMaterialGroupChangeTemas($event)">

            <ng-template ng-label-tmp let-item="item">
              {{ item.description }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="option-{{ item.value }}" type="checkbox" [ngModel]="item$.selected" />

              <label for="option-{{ item.value }}">{{ item.description }}</label>
            </ng-template>
          </ng-select>

        </div>
        <div class="col-lg-6">
          <label for="" class="form-label letra__b__bold">Haz match con un guía</label>

          <ng-select [items]="modemigrations" bindLabel="description" bindValue="id" [multiple]="true"
            groupBy="selectedAllGroup" [searchWhileComposing]="true" [selectableGroup]="true"
            placeholder="Modo de migracion" (change)="onMaterialGroupChangeModo($event)" >

            <ng-template ng-label-tmp let-item="item">
              {{ item.description }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="option-{{ item.value }}" type="checkbox" [ngModel]="item$.selected" />

              <!-- <input id="option-{{ item$.value }}" type="checkbox" [checked]="selectedItems[item$.id]"
              (change)="onOptionSelect(item$, $event)" /> -->

              <label for="option-{{ item.value }}">{{ item.description }}</label>
            </ng-template>
          </ng-select>

          <!-- <p-multiSelect [options]="lstUnidadNegociocb" display="chip" defaultLabel="Seleccione"
            formControlName="cboUnidadNegocio" optionValue="id" optionLabel="value" (onChange)="changeValue($event)"
            [ngClass]="{'ng-invalid ng-dirty' : submitted && formBusqueda.controls['cboUnidadNegocio'].invalid}">
          </p-multiSelect> -->
          <!-- <ng-select
          [items]="modemigrations"
          [multiple]="true"
          bindLabel="description"
          groupBy="gender"
          [selectableGroup]="true"
          [selectableGroupAsModel]="true"
          [closeOnSelect]="false"
          bindValue="id"
          [(ngModel)]="selectedPeople">
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" (click)="test(item.gender)" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }"/> {{item.gender | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
          </ng-template>
      </ng-select> -->



          <!-- <ng-multiselect-dropdown
          name="description"
          [placeholder]="'Seleccionar Modo'"
          [data]="modemigrations"
          [settings]="dropdownSettings"
          [(ngModel)]="modoSelected"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown> -->

          <!-- <ng-multiselect-dropdown [placeholder]="'Modo de migración'" [data]="modemigrations"
            [(ngModel)]="selectedModes" [settings]="dropdownSettings" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" (onItemSelect)="onItemSelect($event)"
            (onItemDeSelect)="onItemDeSelect($event)">
          </ng-multiselect-dropdown> -->

          <!-- <select multiple name="opciones2" id="opciones2"> -->
          <!-- <option value="js">Con familia</option>
                      <option value="html">Con familia y mascota</option>
                      <option value="css">Con pareja y sin hijos</option>
                      <option value="css1">Con pareja y mascota</option>
                      <option value="css2">Solo</option> -->
          <!-- <option *ngFor="let modomigracion of modemigrations" [value]="modomigracion.id">{{ modomigracion.description }}</option>
                  </select> -->
        </div>
      </div>
      <div class="row mt-4">

        <div class="d-flex align-content-center flex-wrap container__historias__reales__body" *ngIf="resp_historias">



          <div class="card card-container mb-3" *ngFor="let historia of resp_historias">
            <div class="image-content">

              <div class="card-image">
                <!-- <img src="assets/images/imagen_prueba.png" class="card-img" alt="fondo"> -->
                <img [src]="historia.urlImagenStory || 'assets/images/imagen_prueba.png'" class="card-img" alt="fondo">
              </div>
              <div class="card-image2">
                <!-- <ng-container *ngIf="historia.urlImagen">
                  <img [src]="historia.urlImagen" class="card-img" alt="perfil">
                </ng-container>
                <ng-container *ngIf="!historia.urlImagen">
                  <img src="assets/images/perfiles/profile1.jpg" class="card-img" alt="perfil">
                </ng-container> -->
                <img [src]="historia.urlImagen || 'assets/images/perfiles/profile1.jpg'" class="card-img" alt="perfil">
                <!-- <div class="form-group col-lg-4 mb-3">
                  <div *ngIf="imageSrc!='';then muestra else nomuestra"></div>
                  <ng-template #muestra><img [src]="imageSrc" id="preview" class="img-thumbnail"></ng-template>
                  <ng-template #nomuestra><img src="assets/images/perfiles/perfil.png" id="preview" class="img-thumbnail"></ng-template>
                </div>     -->
              </div>
              <div class="card-image_flag">
                <img [src]="'assets/images/flags/tiny/'+ historia.flag_img" class="card-img" alt="pais">
              </div>
            </div>

            <div class="card-content">

              <p class="description">{{historia.title}}</p>
              <!-- <span class="autor mb-1">{{historia.name.split(' ')[0]}} {{historia.lastname.split(' ')[0]}}</span> -->
              <span class="autor mb-1">{{historia.name.split(' ')[0]}} {{historia.lastname.substring(0, 1)}}.</span>

              <span class="etiqueta mb-1">{{historia.city_name}}, {{historia.country_name}}</span>
              <div class="container_etiquetas mb-1">
                <div class="container__body__etiqueta">
                  {{historia.name_way_migration}}
                </div>


              </div>
              <div class="footer-content">

                <!-- <a routerLink="../detalle" class="btn btn-light mt-2">Ver Más <i class="fa-solid fa-arrow-right"></i></a> -->
                <a [routerLink]="['../detalle']" [queryParams]="{ historia_id: historia.id }"
                  class="btn btn-light mt-2">Ver Más <i class="fa-solid fa-arrow-right"></i></a>

                <!-- <a href="" class="btn btn-info mt-2">Reserva una cita</a> -->

              </div>

            </div>

          </div>

          <!-- <div class="card card-container mb-2">
                <div class="image-content">

                  <div class="card-image">
                    <img src="assets/images/imagen_prueba.png" class="card-img" alt="fondo">
                  </div>
                  <div class="card-image2">
                    <img src="assets/images/perfiles/profile1.jpg" class="card-img" alt="perfil">
                  </div>
                  <div class="card-image_flag">
                    <img src="assets/images/flags/tiny/Peru.png" class="card-img" alt="pais">
                  </div>
                </div>

                <div class="card-content">

                  <p class="description">Al mes conseguí trabajo en ventas.</p>
                  <span class="autor mb-1">Miguel Panta.</span>
                  <span class="etiqueta mb-1">Carolina del Norte, Usa</span>
                  <div class="container_etiquetas mb-1">
                    <div class="container__body__etiqueta">
                      Estudios
                    </div>
                    <div class="container__body__etiqueta">
                      Refugio
                    </div>

                  </div>
                  <div class="footer-content">

                    <a href="../views/pagina2.php" class="btn btn-light mt-2">Ver Más <i
                        class="fa-solid fa-arrow-right"></i></a>
                    <a href="" class="btn btn-info mt-2">Reserva una cita</a>

                  </div>

                </div>
              </div>
              <div class="card card-container mb-2">
                <div class="image-content">

                  <div class="card-image">
                    <img src="assets/images/imagen_prueba.png" class="card-img" alt="fondo">
                  </div>
                  <div class="card-image2">
                    <img src="assets/images/perfiles/profile1.jpg" class="card-img" alt="perfil">
                  </div>
                  <div class="card-image_flag">
                    <img src="assets/images/flags/tiny/Peru.png" class="card-img" alt="pais">
                  </div>
                </div>

                <div class="card-content">

                  <p class="description">Al mes conseguí trabajo en ventas.</p>
                  <span class="autor mb-1">Miguel Panta.</span>
                  <span class="etiqueta mb-1">Carolina del Norte, Usa</span>
                  <div class="container_etiquetas mb-1">
                    <div class="container__body__etiqueta">
                      Estudios
                    </div>
                    <div class="container__body__etiqueta">
                      Refugio
                    </div>

                  </div>
                  <div class="footer-content">

                    <a href="../views/pagina2.php" class="btn btn-light mt-2">Ver Más <i
                        class="fa-solid fa-arrow-right"></i></a>
                    <a href="" class="btn btn-info mt-2">Reserva una cita</a>

                  </div>

                </div>
              </div>
              <div class="card card-container mb-2">
                <div class="image-content">

                  <div class="card-image">
                    <img src="assets/images/imagen_prueba.png" class="card-img" alt="fondo">
                  </div>
                  <div class="card-image2">
                    <img src="assets/images/perfiles/profile1.jpg" class="card-img" alt="perfil">
                  </div>
                  <div class="card-image_flag">
                    <img src="assets/images/flags/tiny/Peru.png" class="card-img" alt="pais">
                  </div>
                </div>

                <div class="card-content">

                  <p class="description">Al mes conseguí trabajo en ventas.</p>
                  <span class="autor mb-1">Miguel Panta.</span>
                  <span class="etiqueta mb-1">Carolina del Norte, Usa</span>
                  <div class="container_etiquetas mb-1">
                    <div class="container__body__etiqueta">
                      Estudios
                    </div>
                    <div class="container__body__etiqueta">
                      Refugio
                    </div>
                  </div>
                  <div class="footer-content">

                    <a href="../views/pagina2.php" class="btn btn-light mt-2">Ver Más <i
                        class="fa-solid fa-arrow-right"></i></a>
                    <a href="" class="btn btn-info mt-2">Reserva una cita</a>

                  </div>

                </div>
              </div>
              <div class="card card-container mb-2">
                <div class="image-content">

                  <div class="card-image">
                    <img src="assets/images/imagen_prueba.png" class="card-img" alt="fondo">
                  </div>
                  <div class="card-image2">
                    <img src="assets/images/perfiles/profile1.jpg" class="card-img" alt="perfil">
                  </div>
                  <div class="card-image_flag">
                    <img src="assets/images/flags/tiny/Peru.png" class="card-img" alt="pais">
                  </div>
                </div>

                <div class="card-content">

                  <p class="description">Al mes conseguí trabajo en ventas.</p>
                  <span class="autor mb-1">Miguel Panta.</span>
                  <span class="etiqueta mb-1">Carolina del Norte, Usa</span>
                  <div class="container_etiquetas mb-1">
                    <div class="container__body__etiqueta">
                      Estudios
                    </div>
                    <div class="container__body__etiqueta">
                      Refugio
                    </div>
                  </div>
                  <div class="footer-content">

                    <a href="../views/pagina2.php" class="btn btn-light mt-2">Ver Más <i
                        class="fa-solid fa-arrow-right"></i></a>
                    <a href="" class="btn btn-info mt-2">Reserva una cita</a>

                  </div>

                </div>
              </div> -->





          <!-- --paginacion -->




          <!-- <div class="col-md-3 mt-2" style="text-align: right;">
          <span class="mr-2">Page Size</span>

          <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
            <option>2</option>
            <option selected="true">5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
          </select>
        </div> -->
          <!-- find pag -->






        </div>


      </div>
      <div class="d-flex justify-content-center">
        <ngb-pagination [(page)]="nropagina" [pageSize]="tamanopagina" [collectionSize]="totalelementos" [maxSize]="1"
          [boundaryLinks]="true" (pageChange)="onPageChange(nropagina)">
          <!-- (pageChange)="listaHistorias() -->
        </ngb-pagination>
      </div>

    </div>

    <div class="card">
      <div class="row card-content align-items-center">

        <div class="row mb-3">
          <div class="col-lg-12 text-center">
            <span class="container__historias__body__title letra__b__bold">Historias</span>
            <span class="container__historias__body__title" style="color: #5a2395;"> como la tuya</span>
          </div>
          <div class="col-lg-12 text-center" style="font-size: 13pt;">
            <span>de migrantes reales dispuestos a responder</span>
          </div>
        </div>

        <div class="row d-flex align-content-center flex-wrap justify-content-between mb-5">

          <div class="container__historias__items ">
            <div class="container__historias__body__body__item__imagen">
              <picture>
                <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                          <source media="(min-width: 550px)" srcset="media.png"> -->
                <img src="assets/images/icons/pareja.png">
              </picture>
            </div>
            <div class="container__historias__body__body__item__body">
              <div class="container__historias__body__body__item__title">
                3456
              </div>
              <div class="container__historias__body__body__item__text">
                Migrantes que han llegado con éxito
              </div>
            </div>

          </div>
          <div class="container__historias__items">
            <div class="container__historias__body__body__item__imagen">
              <picture>
                <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                          <source media="(min-width: 550px)" srcset="media.png"> -->
                <img src="assets/images/icons/pareja.png">
              </picture>
            </div>
            <div class="container__historias__body__body__item__body">
              <div class="container__historias__body__body__item__title">
                3456
              </div>
              <div class="container__historias__body__body__item__text">
                Migrantes que han llegado con éxito
              </div>
            </div>

          </div>
          <div class="container__historias__items">
            <div class="container__historias__body__body__item__imagen">
              <picture>
                <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                          <source media="(min-width: 550px)" srcset="media.png"> -->
                <img src="assets/images/icons/mochila.png">
              </picture>
            </div>
            <div class="container__historias__body__body__item__body">
              <div class="container__historias__body__body__item__title">
                1684
              </div>
              <div class="container__historias__body__body__item__text">
                Menores que se encuentran estudiando
              </div>
            </div>

          </div>
          <div class="container__historias__items">
            <div class="container__historias__body__body__item__imagen">
              <picture>
                <!-- <source media="(min-width: 900px)" srcset="grande.png">
                                          <source media="(min-width: 550px)" srcset="media.png"> -->
                <img src="assets/images/icons/pet.png">
              </picture>
            </div>
            <div class="container__historias__body__body__item__body">
              <div class="container__historias__body__body__item__title">
                27
              </div>
              <div class="container__historias__body__body__item__text">
                Ciudades en 4 países los alojan
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <span class="container__historias__body__title letra__b__bold">Preguntas</span>
            <span class="container__historias__body__title" style="color: #5a2395;"> frecuentes</span>
          </div>
          <div class="col-lg-12">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button " type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong>¿Cuánto dura una sesión con un residente?</strong>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    This is the first item's accordion body.It is shown by default, until the collapse plugin adds the
                    appropriate classes that we use to style each element. These classes control the overall appearance,
                    as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                    overriding our default variables. It's also worth noting that just about any HTML can go within the
                    <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>¿Let iusto odio dignissim qui blandit praesent?</strong>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    This is the second item's accordion body. It is hidden by default, until the collapse plugin adds
                    the
                    appropriate classes that we use to style each element. These classes control the overall appearance,
                    as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                    overriding our default variables. It's also worth noting that just about any HTML can go within the
                    <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong>¿Rerat volutpat. Ut wisi enim ad minim veniam?</strong>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    This is the third item's accordion body. It is hidden by default, until the collapse plugin adds the
                    appropriate classes that we use to style each element. These classes control the overall appearance,
                    as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                    overriding our default variables. It's also worth noting that just about any HTML can go within the
                    <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapeFour" aria-expanded="false" aria-controls="collapeFour">
                    <strong> ¿Vel illum dolore eu feugiat nulla facilisis at?</strong>
                  </button>
                </h2>
                <div id="collapeFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    This is the third item's accordion body. It is hidden by default, until the collapse plugin adds the
                    appropriate classes that we use to style each element. These classes control the overall appearance,
                    as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                    overriding our default variables. It's also worth noting that just about any HTML can go within the
                    <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>

    </div>

  </div>
