<app-dashboard-head title="Blogs" [hideBreadcrumbs]="false"></app-dashboard-head>

<div class="row col-2 mx-2 mb-2">
  <button class="btn-primary" (click)="abrirModal()">Agregar</button>

</div>

<div class="row col-lg-12 d-flex justify-content-between">
  <div class="form-group col-lg-4">
    <label for="inputName">Titulo</label>
    <input required type="text" class="form-control form-control-sm" id="inputName" [(ngModel)]="searchTerm">
  </div>

  <!-- <div class="form-group form-inline col-lg-4">Full text search:
            <input class="form-control ml-2" style="padding: .125rem .75rem" type="text" name="searchTerm" />
            <span class="ml-3">Loading...</span>
          </div> -->
  <div class="form-group form-inline col-lg-4"> Estado
    <select id="estadoSelect" (change)="onEstadoSelect($event)" [(ngModel)]="selectedEstado"
      class="input_blog form-select form-select-normal" aria-label="Default select example">
      <option value="" selected>Seleccione Estado</option>
      <option value="APROBADO">APROBADO</option>
      <option value="PENDING">PENDING</option>
      <option value="RECHAZADO">RECHAZADO</option>
    </select>
  </div>
  <div class="form-group col-lg-2 d-flex align-items-center">
    <button class="btn-primary" (click)="buscarLocalmente()">Buscar</button>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">#</th>
      <th scope="col" sbSortable="titulo"><span>Titulo</span></th>
      <th scope="col" sbSortable="nombre"><span>Texto</span></th>
      <th scope="col" sbSortable="apellido"><span>Usuario</span></th>
      <th scope="col" sbSortable="estado"><span>Estado</span></th>
      <th scope="col" sbSortable="acciones"><span>Acciones</span></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let blog of blogsFiltradas">
      <th scope="row">{{ blog.id }}</th>
      <td><ngb-highlight [result]="blog.title">
        </ngb-highlight>
      </td>
      <td><ngb-highlight [result]="blog.name"></ngb-highlight></td>
      <td><ngb-highlight [result]="blog.lastname"></ngb-highlight></td>

      <td><ngb-highlight [result]="blog.status"></ngb-highlight></td>
      <td>
        <div class="btn-group">
          <a (click)="editarBlog(blog)" class="btn btn-sm btn-warning"><span class="fas fa-pencil icon-md"></span></a>
          <a (click)="eliminarblog(blog)" class="btn btn-sm btn-danger"><span
              class="fas fa-circle-xmark icon-md"></span></a>

        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="total$" [(page)]="nropagina" [pageSize]="tamanopagina" [maxSize]="10"
    (pageChange)="onPageChange(nropagina)">
  </ngb-pagination>
  <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="tamanopagina"
    (change)="onPageSizeChange()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>



<ng-template #modalContent let-modal>


  <div class="modal-contenido">

    <div class="modal-body modal-login">
      <button type="button" (click)="cerrarModal()" style="
         background: none;
        float: right;
        border: 0;
        margin: 0.2rem;
        padding: 2rem 0rem 0rem;">

        <i class="fa-solid fa-xmark"></i>
      </button>
      <div class="modal-body-primary" style="
background-color: #e4e4e4;padding: 3rem;">
        <span class="p-bold-500-20-blanco" style="
    color: #5a2395;">Datos </span>
        <span class="p-bold-500-20-blanco" style="
    color: #5a2395;font-weight: normal;">del Blog</span>

      </div>

      <div class="modal-body-blanco  py-5 " style="padding-right: 5rem; padding-left: 5rem;">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="registroBlog()">


          <ng-container>
            <div class="row col-lg-12">

              <div class="form-group mb-3 col-lg-6">
                <p class="p-bold-300-10-black">Titulo</p>

                <input type="text" id="" formControlName="titulo" class="input_blog form-control form-control-sm">

              </div>
              <div class="form-group mb-3 col-lg-6">

                <p class="p-parrafo">Estado</p>
                <select class="form-select form-select-normal" formControlName="estado">
                  <option value="" selected>Seleccione Estado</option>
                  <option value="t">Activo</option>
                  <option value="f">Inactivo</option>
                </select>
              </div>
              <div class="form-group mb-3 col-lg-12">
                <p class="p-bold-300-10-black">Texto Breve</p>

                <editor formControlName="textobreve" [init]="{
                    base_url: '/tinymce',
                    suffix: '.min',

                  }"></editor>
                <!-- plugins: 'image',
 menubar: 'insert',
 toolbar: 'image', -->
              </div>

              <div class="form-group mb-3 col-lg-12">
                <p class="p-bold-300-10-black">Descripcion</p>
                <editor formControlName="descripcion" [init]="{
                    base_url: '/tinymce',
                    suffix: '.min'
                  }"></editor>

              </div>

              <div class="form-group mb-3 mt-1">
                <p class="p-bold-300-10-black">Imágen del Blog:</p>

                <div class="row d-flex align-items-end mt-3">

                  <div class="form-group col-lg-2 mb-3">

                    <!-- <input type="file" #fileInput style="display:none" accept=".jpg, .png" (change)="onFileSelected($event)"> -->
                    <!-- <button (click)="openFileInput()">Seleccionar Archivo</button> -->
                    <div *ngIf="imageSrc !== ''; else nomuestra">
                      <img [src]="imageSrc" id="preview" style="max-width: 100px;height: 8rem;"
                        (click)="openFileInput()" (change)="onFileSelected($event)">
                    </div>
                    <ng-template #nomuestra>
                      <img src="assets/images/perfiles/perfil.png" style="max-width: 100px" id="preview"
                        class="img-thumbnail" (click)="openFileInput()">
                    </ng-template>


                  </div>

                </div>
              </div>

              <div class="form-group col-lg-12">
                <label for="" class="form-label letra__b__bold" style="
                color: #000;">Categorias</label>

                <ng-select [items]="categorias" bindLabel="description" bindValue="id" [multiple]="true"
                  groupBy="selectedAllGroup" [searchWhileComposing]="true" [selectableGroup]="true"
                  formControlName="categoria" placeholder="Categorias"
                  (change)="onMaterialGroupChangeModo($event)" #modesSelect>

                  <ng-template ng-label-tmp let-item="item">
                    {{ item.description }}
                  </ng-template>

                </ng-select>


                  <!-- <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="option-{{ item.value }}" type="checkbox"  />


                    <label for="option-{{ item.value }}">{{ item.description }}</label>
                  </ng-template> -->



              </div>

              <div class="form-group col-lg-6 mb-3">

                <p class="p-bold-300-10-black">Fecha publicacion*
                  <label class="letra_gris">(público)</label>
                </p>
                <input type="date" name="" formControlName="fecha" class="form-control form-control-sm" value=""
                  placeholder="">

              </div>

            </div>

          </ng-container>







          <div class="col-lg-5 my-3 ms-5">
            <button class="btn btn-primary btn-sm" type="submit" id="" [disabled]="formularioEnviado">{{ textoBoton
              }}</button>
          </div>
        </form>

      </div>

    </div>

  </div>


</ng-template>


<!-- <div class="modal fade" id="modalEditarblog" tabindex="-1" aria-labelledby="modalEditarblog" #myModalClose
  aria-hidden="true">
  <div class="modal-contenido">
    <div class="modal-lg modal-dialog">
      <div class="modal-content modal-transparente">

        <div class="modal-body modal-login">
          <button type="button" class="close" (click)="cerrarModal()" style="
         background: none;
        float: right;
        border: 0;
        margin: 0.2rem;
        padding: 2rem 0rem 0rem;">

            <i class="fa-solid fa-xmark"></i>
          </button>
          <div class="modal-body-primary" style="
background-color: #e4e4e4;padding: 3rem;">
            <span class="p-bold-500-20-blanco" style="
    color: #5a2395;">Datos </span>
            <span class="p-bold-500-20-blanco" style="
    color: #5a2395;font-weight: normal;">del Blog</span>

          </div>

          <div class="modal-body-blanco  py-5 " style="padding-right: 5rem; padding-left: 5rem;">
            <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="registroBlog()">


              <ng-container>
                <div class="row col-lg-12">

                  <div class="form-group mb-3 col-lg-6">
                    <p class="p-bold-300-10-black">Titulo</p>

                    <input type="text" id="" formControlName="titulo"
                      class="input_blog form-control form-control-sm">

                  </div>
                  <div class="form-group mb-3 col-lg-6">

                    <p class="p-parrafo">Estado</p>
                    <select class="form-select form-select-normal" formControlName="estado">
                      <option value="0" selected>Seleccione Estado</option>
                      <option value="1">Activo</option>
                      <option value="-1">Inactivo</option>
                    </select>
                  </div>
                  <div class="form-group mb-3 col-lg-12">
                    <p class="p-bold-300-10-black">Texto Breve</p>

                    <editor formControlName="textobreve" [init]="{
                    base_url: '/tinymce',
                    suffix: '.min'
                  }"></editor>

                  </div>

                  <div class="form-group mb-3 col-lg-12">
                    <p class="p-bold-300-10-black">Descripcion</p>
                    <editor formControlName="descripcion" [init]="{
                    base_url: '/tinymce',
                    suffix: '.min'
                  }"></editor>

                  </div>

                  <div class="form-group mb-3 mt-1">
                    <p class="p-bold-300-10-black">Imágen del Blog:</p>

                    <div class="row d-flex align-items-end mt-3">

                      <div class="form-group col-lg-2 mb-3">

                        <input type="file" #fileInput style="display:none" accept=".jpg, .png"
                          (change)="onFileSelected($event)">

                          <img src="assets/images/perfiles/perfil.png" style="max-width: 100px" id="preview"
                          class="img-thumbnail" (click)="openFileInput()">

                        <div *ngIf="imageSrc !== ''; else nomuestra">
                          <img [src]="imageSrc" id="preview" style="max-width: 100px;height: 8rem;"
                            (click)="openFileInput()">
                        </div>
                        <ng-template #nomuestra>
                          <img src="assets/images/perfiles/perfil.png" style="max-width: 100px" id="preview"
                            class="img-thumbnail" (click)="openFileInput()">
                        </ng-template>


                      </div>

                    </div>
                  </div>


                </div>

              </ng-container>







              <div class="col-lg-5 my-3 ms-5">
                <button class="btn btn-primary btn-sm" type="submit" id="" [disabled]="formularioEnviado">{{ textoBoton
                  }}</button>
              </div>
            </form>

          </div>

        </div>

      </div>


    </div>
  </div>
</div> -->
