<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
    </staticContent>
    <security>
         <requestFiltering removeServerHeader="true" />
         <!-- Removes Server header in IIS10 or later and also in Azure Web Apps -->
      </security>
      <httpProtocol>
         <customHeaders>
            <clear />
           <!-- Gets rid of the other unwanted headers -->
          <add name="X-Frame-Options" value="SAMEORIGIN"/>
          <!-- disables iframing the website from other than the origin -->
          <add name="X-Xss-Protection" value="1; mode=block"/>
          <!-- configure the built in reflective XSS protection found in Internet Explorer, Chrome and Safari (Webkit). -->
          <add name="X-Content-Type-Options" value="nosniff"/>
          <!-- It is a compplex policy of what can execute. This can be really restrictive so please read up on it if you tighten it. I have laid out basic setting that is very permissive and will not save you from XSS attacks. https://content-security-policy.com/ or https://infosec.mozilla.org/guidelines/web_security#content-security-policy -->
          <add name="Referrer-Policy" value="strict-origin-when-cross-origin"/>
          <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy - Sets the referrer policy. Use for CORS -->
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
          <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security - HSTS allows you to tell a browser that you always want a user to connect using HTTPS instead of HTTP. his policy will enforce TLS on your site and all subdomains for a year. -->
          <add name="Permissions-Policy" value="accelerometer=(self), camera=(self), geolocation=(self), gyroscope=(self), magnetometer=(self), microphone=(self), payment=(self), usb=(self)" />
          <!-- used to disable certain features https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Feature-Policy -->
          <add name="X-Permitted-Cross-Domain-Policies" value="none"/>
          <!-- The X-Permitted-Cross-Domain-Policies header tells clients like Flash and Acrobat what cross-domain policies they can use. If you don’t want them to load data from your domain, set the header’s value to none -->
          <add name="Expect-CT" value="max-age=86400, enforce"/>
          <!-- The Expect-CT header allows sites to opt in to reporting and/or enforcement of Certificate Transparency requirements, which prevents the use of misissued certificates for that site from going unnoticed. -->
          <add name="Cache-Control" value="no-cache, no-store, must-revalidate, max-age=0"/>
          <add name="Pragma" value="no-cache"/>
          
            <remove name="X-Powered-By" />
            <!-- removes the X-Powered-By:ASP.NET header -->
         </customHeaders>
         <redirectHeaders>
            <clear />
         </redirectHeaders>
      </httpProtocol>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
          <!-- <action type="Rewrite" url="./index.html" /> -->
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
